---
title: Recent Doc Updates
description: Below are recent documentation updates for this site.
parent: home
layout: help
---
<h1 style="font-weight: normal;margin-left: 1rem;">{{ page.title }}</h1>
<article class="bcls-article">
  {% for item in site.data.s-site-assets-data.doc-updates %}
  <details class="bcls-section" style="margin-left: 1rem;">
    <summary>
      <h2 id="{{ item.date | replace: " -", "_" }}">{{ item.date }}</h2>
    </summary>
    {% for type in item.types %}
      <h3>{{ type.type }}</h3>
      {% if type.docs %}
        <ul style="list-style: none;">
          {% for doc in type.docs %}
            {% if doc.Link contains site.site_domain %}
              {% if doc.Status == "Released" %}
              <li><strong>Title:</strong> {{ doc.Title }}</li>
              <li>
                <strong>Description:</strong> {{ doc.Description }}
                {% if doc.Product_Update == 'true' %}
                  - <span style="color:#d33e00;font-weight: bold;">New Product Feature!</span>
                {% endif %}
              </li>
              <li><strong>Link:</strong> <a href="{{ doc.Link }}">{{ doc.Link }}</a></li>
              <li><strong>Product:</strong> <a href="{{ doc.Product }}">{{ doc.Product }}</a></li>
              <li style="margin-bottom: 1em;"><strong>Product Area:</strong> {{ doc.Product_area }}</li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </details>
  {% endfor %}
</article>